$mobile: 600px;
$tablet: 800px;
$desktop: 1200px;

@mixin media-mobile {
    @media screen and (max-width: #{$mobile}) {
        @content
    }
};

@mixin media-tablet {
    @media screen and (min-width: #{$mobile + 1}) and (max-width: #{$tablet}) {
        @content
    }
};

@mixin media-desktop {
    @media screen and (min-width: #{$tablet + 1}) and (max-width: #{$desktop}) {
        @content
    }
};

@mixin media-largedesktop {
    @media screen and (min-width: #{$desktop + 1}) {
        @content
    }
}

